@import "tailwindcss";


@font-face {
  font-family: "HeliosExtended";
  src: url("../fonts/heliosext-bold-italic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

.font-helios {
  font-family: "HeliosExtended", sans-serif;
}

.agora {
  color: #daf020;
}
